<header id="title">
    <div>
        <h1><a id="company" href="/">FutLink</a> </h1>
    </div>
    <div class="menu-section">
        <div class="menu-toogle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <nav>
            <ul>
                <li><a href="/Torneios" class="link">Torneios</a></li>
                <li><a href="#recursos" class="link">Vantagens</a></li>
                <li><a href="/#prices" class="link">Preço</a></li>
                <li><a href="/conta" class="link">Acessar conta</a></li>
                <li><button><a href="/register" class="link">Criar conta</a> </button></li>
            </ul>
        </nav>
    </div>
</header>