<%- include("head") %>
  <%- include("header") %>
    <section class="main-title">
      <div class="imagem">
        <img src="images/p.png" class="abc" alt="">
      </div>
      <div class="text">
        <h2>LOREM IPSUM DOLOR SIT AMET</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Nulla aliquet enim tortor at auctor urna nunc id cursus. Sem integer vitae justo eget magna
          fermentum iaculis eu.</h3>
      </div>
    </section>
    <section id="recursos">
      <div class="rec">
        <i class="fa-solid fa-futbol fa-6x feature-icon"></i>
        <h3 class="feature-title">Placar em tempo real</h3>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="rec">
        <i class="fa-solid fa-medal fa-6x feature-icon"></i>
        <h3 class="feature-title">Torneios</h3>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="rec">
        <i class="fa-solid fa-ranking-star fa-6x feature-icon"></i>
        <h3 class="feature-title">Premiações</h3>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </section>
    <section id="prices">
      <h2 class="prices-title">Um plano ideal para cada necessidade</h2>
      <div class="aaa">
        <div class="container-prices">
          <h3 class="price-plan">Jogador</h3>
          <hr>
          <p class="price">R$25<span class="cents">,00 / mês</span></p>
          <hr>
          <div class="categorias">
            <p>Pode completar times</p>
            <p>Concorre a premiações</p>
            <p>Joga de ladinho</p>
          </div>
          <button class="coiso" type="submit">Cadastrar</button>
        </div>
        <div class="container-prices">
          <h3 class="price-plan">Time</h3>
          <hr>
          <p class="price">R$49<span class="cents">,99 / mês</span></p>
          <hr>
          <div class="categorias">
            <p>Disputa torneios</p>
            <p>Concorre a premiações</p>
            <p>Negócio coisado</p>
          </div>
          <button class="coiso" type="submit">Cadastrar</button>
        </div>
        <div class="container-prices">
          <h3 class="price-plan">Gestor</h3>
          <hr>
          <p class="price">R$149<span class="cents">,90 / mês</span></p>
          <hr>
          <div class="categorias">
            <p>Gerenciamento de equipes</p>
            <p>Dá uma mamada</p>
            <p>Joga lolzinho</p>
          </div>
          <button class="coiso" type="submit">Cadastrar</button>
        </div>
      </div>
    </section>
    <%- include("footer") %>